/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/fixtures/rails_app/db/test.sqlite3*
/spec/fixtures/rails_app/db/development.sqlite3*
/spec/fixtures/rails_app/tmp
/tmp/
.overcommit_gems.rb.lock
*.log
*sqlite3-journal
/tags
